/* Cascading Style Sheets -> css
it makes our websites beutifule and morden looking */
/* body Selector */
body{
    color: hsl(110, 88%, 17%); 
    background-color: #96acaf ;
}
/* Element Selector */
p{
    border: 2px solid rgb(103, 48, 48);
    color: rgb(25, 1, 13);
}
/*id selector*/
#red{
    color: rgb(195, 32, 32);
}
/* class Selector */
.blue{
    color: rgb(54, 54, 174);
}
/* Grouping Selector */
footer,span{
    background-color:rgb(254, 183, 195);
    color: #19085e;
}