*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
p{
background-color: #bcb9b9;
}
#a{
background-color: #ff8080;
}
.b{
background-color: #83f3a5;
text-align: center;
/* width: 30%;
height: 40%; */
/* margin: 20px 50px; */
margin: 20px 50px 30px 45px;
padding: 10px;
border: 2px solid rgb(100, 99, 99);
border-radius: 10px;
}
.container{
    color: #ffff;
    width: 600px;
    height: 300px;
    /* background-color: #dff39f; */
    background-image: url(https://images.unsplash.com/photo-1768123441959-8a989dbb878e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#car1{
    /* position: absolute; */
    width: 100px;
    height: 120px;
    background-color: rgb(235, 144, 25);
}
#car2{
    /* position: absolute;
    top: 20%;
    left: 30%; */
    width: 120px;
    height: 110px;
    background-color: rgb(35, 235, 25);
}
#car3{
    width: 140px;
    height: 100px;
    background-color: rgb(74, 25, 235);
}
#box1{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #eb4a4a99;
}
#box2{
    position: absolute;
    left: 60%;
    width: 100px;
    height: 100px;
    background-color: #42e1e9;
}
#item{
    display: flex;
    justify-content:space-evenly; /* for width */
     align-items: center; /* for height */
    width: 500px;
    height: 500px;
    background-color: #212121;
}
#item1{
    width: 100px;
    height: 100px;
    background-color: #e66616;
}
#item2{
    width: 100px;
    height: 100px;
    background-color: #b2e943;
}
#item3{
    width: 100px;
    height: 100px;
    background-color: #2e9e53;
}